In [12]:
import pandas as pd

kyllin_data_path = r'./input/qilin_features.csv'
kyllin_data = pd.read_csv(kyllin_data_path)

In [13]:
kyllin_data

,index,leq_mean,leq_var,leq_std,leq_max,leq_10,leq_25,leq_median,leq_75,leq_90,...,tonality_var,tonality_std,tonality_max,tonality_10,tonality_25,tonality_median,tonality_75,tonality_90,tonality_10-tonality_90,name
0,0,54.312528,53.647026,7.324739,69.625366,44.742218,46.711838,55.229630,60.548046,64.009647,...,0.003439,0.058662,0.291835,0.0,0.019539,0.063939,0.109481,0.149417,0.149417,Record85823.xls
1,1,55.232130,28.291445,5.319207,69.071991,47.749233,50.331184,56.141373,59.358688,62.048265,...,0.003874,0.062262,0.338405,0.0,0.046919,0.084511,0.128971,0.176758,0.176758,Record85826.xls
2,2,50.533419,16.909742,4.112328,61.366192,44.896023,47.537155,50.347477,53.674778,55.721466,...,0.004035,0.063543,0.352343,0.0,0.028660,0.067247,0.114759,0.162089,0.162089,Record85828.xls
3,3,50.206056,10.631503,3.260744,62.288425,46.105684,47.749138,49.969536,52.371662,54.487446,...,0.002846,0.053369,0.345522,0.0,0.010537,0.050323,0.090587,0.129303,0.129303,Record85897.xls
4,4,50.892217,29.397366,5.422175,62.937305,42.569418,46.039944,52.623150,55.334427,57.264042,...,0.006525,0.080808,0.520856,0.0,0.035899,0.081288,0.134716,0.191422,0.191422,Record85955.xls
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,751,50.024887,0.921990,0.960246,60.606106,49.306311,49.514557,49.829697,50.255989,50.816889,...,0.000993,0.031517,0.163329,0.0,0.000000,0.027650,0.051968,0.072974,0.072974,Record109726.xls
752,752,57.370135,26.701392,5.167569,67.176895,48.360319,54.507286,58.689892,61.229809,62.964729,...,0.004562,0.067565,0.336235,0.0,0.042409,0.089499,0.137646,0.188131,0.188131,Record109758.xls
753,753,51.327230,3.189279,1.785935,61.432575,49.293150,49.961189,51.132454,52.213837,53.257622,...,0.002586,0.050873,0.264383,0.0,0.022004,0.057294,0.093313,0.130287,0.130287,Record109784.xls
754,754,55.527740,40.705632,6.380380,69.133560,47.716015,48.599403,56.505791,61.127293,63.526405,...,0.002881,0.053694,0.296857,0.0,0.027664,0.058366,0.097927,0.139450,0.139450,Record109802.xls
755,755,55.996762,21.450448,4.631669,68.200005,49.953733,52.022823,55.898090,59.538589,62.553637,...,0.003738,0.061163,0.288618,0.0,0.027600,0.067635,0.114697,0.158793,0.158793,Record109808.xls

In [14]:
name = kyllin_data['name']
name

0       Record85823.xls
1       Record85826.xls
2       Record85828.xls
3       Record85897.xls
4       Record85955.xls
             ...
751    Record109726.xls
752    Record109758.xls
753    Record109784.xls
754    Record109802.xls
755    Record109808.xls
Name: name, Length: 756, dtype: object

In [15]:
for i in range(len(name)):
    temp = name[i].split('.')
    name[i] = temp[0]

kyllin_data

C:\Users\Black\AppData\Local\Temp\ipykernel_19068\4210374407.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  name[i] = temp[0]

,index,leq_mean,leq_var,leq_std,leq_max,leq_10,leq_25,leq_median,leq_75,leq_90,...,tonality_var,tonality_std,tonality_max,tonality_10,tonality_25,tonality_median,tonality_75,tonality_90,tonality_10-tonality_90,name
0,0,54.312528,53.647026,7.324739,69.625366,44.742218,46.711838,55.229630,60.548046,64.009647,...,0.003439,0.058662,0.291835,0.0,0.019539,0.063939,0.109481,0.149417,0.149417,Record85823
1,1,55.232130,28.291445,5.319207,69.071991,47.749233,50.331184,56.141373,59.358688,62.048265,...,0.003874,0.062262,0.338405,0.0,0.046919,0.084511,0.128971,0.176758,0.176758,Record85826
2,2,50.533419,16.909742,4.112328,61.366192,44.896023,47.537155,50.347477,53.674778,55.721466,...,0.004035,0.063543,0.352343,0.0,0.028660,0.067247,0.114759,0.162089,0.162089,Record85828
3,3,50.206056,10.631503,3.260744,62.288425,46.105684,47.749138,49.969536,52.371662,54.487446,...,0.002846,0.053369,0.345522,0.0,0.010537,0.050323,0.090587,0.129303,0.129303,Record85897
4,4,50.892217,29.397366,5.422175,62.937305,42.569418,46.039944,52.623150,55.334427,57.264042,...,0.006525,0.080808,0.520856,0.0,0.035899,0.081288,0.134716,0.191422,0.191422,Record85955
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
751,751,50.024887,0.921990,0.960246,60.606106,49.306311,49.514557,49.829697,50.255989,50.816889,...,0.000993,0.031517,0.163329,0.0,0.000000,0.027650,0.051968,0.072974,0.072974,Record109726
752,752,57.370135,26.701392,5.167569,67.176895,48.360319,54.507286,58.689892,61.229809,62.964729,...,0.004562,0.067565,0.336235,0.0,0.042409,0.089499,0.137646,0.188131,0.188131,Record109758
753,753,51.327230,3.189279,1.785935,61.432575,49.293150,49.961189,51.132454,52.213837,53.257622,...,0.002586,0.050873,0.264383,0.0,0.022004,0.057294,0.093313,0.130287,0.130287,Record109784
754,754,55.527740,40.705632,6.380380,69.133560,47.716015,48.599403,56.505791,61.127293,63.526405,...,0.002881,0.053694,0.296857,0.0,0.027664,0.058366,0.097927,0.139450,0.139450,Record109802
755,755,55.996762,21.450448,4.631669,68.200005,49.953733,52.022823,55.898090,59.538589,62.553637,...,0.003738,0.061163,0.288618,0.0,0.027600,0.067635,0.114697,0.158793,0.158793,Record109808

In [17]:
kyllin_data.to_csv(r'./output/kyllin_data.csv', index=False)