In [298]:
import os
from sklearn.linear_model import ElasticNet
from sklearn.tree import DecisionTreeRegressor
import pandas as pd
import numpy as np
from config import *
import copy
from cal_accuracy import *

path = './input'
# get whole dir name
files = os.listdir(path)
all_data = pd.DataFrame()

# read train data
for file in files:
    # judge whether it is a directory
    if not os.path.isdir(file):
        csv_path = path + "/" + file
        print(csv_path)
        temp = pd.read_csv(csv_path)
        if len(temp) == 0:
            all_data = temp
        else:
            all_data = pd.concat([all_data, temp], axis=0)

# read test data
test_path = './test/杨凡1.csv'
test_data = pd.read_csv(test_path)

test_data

./input/feature_44down.csv
./input/feature_44up.csv
./input/feature_83.csv
./input/feature_machine.csv
./input/feature_water.csv

,index,leq_mean,leq_var,leq_std,leq_max,leq_10,leq_25,leq_median,leq_75,leq_90,...,tonality_std,tonality_max,tonality_10,tonality_25,tonality_median,tonality_75,tonality_90,tonality_10-tonality_90,name,noise_score
0,1,55.232130,28.291445,5.319207,69.071991,47.749233,50.331184,56.141373,59.358688,62.048265,...,0.062262,0.338405,0.000000,0.046919,0.084511,0.128971,0.176758,0.176758,Record85826,3
1,11,50.990445,14.365005,3.790288,58.287338,45.634531,47.271271,52.034287,54.249622,55.215694,...,0.047247,0.212326,0.000000,0.000000,0.050423,0.085405,0.118994,0.118994,Record86063,4
2,21,55.732233,6.655476,2.579936,65.177231,52.413189,53.848297,55.836800,57.593357,58.858231,...,0.041625,0.231919,0.000000,0.000000,0.039642,0.071143,0.102402,0.102402,Record86146,2
3,31,50.850839,10.522395,3.243968,68.293892,46.865599,48.294189,50.739494,52.977394,54.727055,...,0.046005,0.344498,0.000000,0.023572,0.050706,0.084524,0.119571,0.119571,Record86411,7
4,41,50.480544,21.698726,4.658396,72.954018,44.806261,47.364754,50.697357,53.007847,54.897829,...,0.053735,0.324143,0.000000,0.015611,0.052863,0.090540,0.131772,0.131772,Record86571,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,706,51.684594,8.707221,2.950931,61.099491,48.240726,49.122250,51.338657,53.338589,55.934734,...,0.061495,0.533374,0.057330,0.077229,0.106951,0.144127,0.194106,0.136776,Record108545,4
71,717,56.086409,35.776243,5.981590,73.420624,47.991043,50.723267,56.433147,59.950764,64.281902,...,0.048654,0.317854,0.000105,0.024658,0.057933,0.093155,0.128309,0.128203,Record109142,3
72,727,50.047239,5.768942,2.401969,59.508881,47.118578,48.324600,49.654362,51.642471,53.340521,...,0.040539,0.205046,0.000000,0.000000,0.036629,0.067197,0.097571,0.097571,Record109497,3
73,737,50.874526,4.364191,2.089157,61.799881,48.986235,49.593983,50.240971,51.657730,53.274920,...,0.038538,0.238971,0.000000,0.000000,0.039179,0.065948,0.091092,0.091092,Record109524,3
74,753,51.327230,3.189279,1.785935,61.432575,49.293150,49.961189,51.132454,52.213837,53.257622,...,0.050873,0.264383,0.000000,0.022004,0.057294,0.093313,0.130287,0.130287,Record109784,4

In [299]:
# 对数据进行标准化
def feature_normalize(dataset):
    mu = np.mean(dataset, axis=0)
    sigma = np.std(dataset, axis=0)
    return (dataset - mu) / sigma

In [300]:
all_columns = all_data.columns
feature_columns = all_columns[2:]
feature_columns
features = copy.deepcopy(all_data[feature_columns])

In [301]:
train_X = feature_normalize(features[feature_columns])
train_y = all_data['score']
test_X = feature_normalize(test_data[feature_columns])
test_y = test_data['noise_score']

In [302]:
# 弹性网回归
# alpha = 0.1
# enet = ElasticNet(alpha=alpha, l1_ratio=0)
# enet.fit(train_X[column_36], train_y)

# 决策树回归
model = DecisionTreeRegressor()
model.fit(train_X[column_36], train_y)

DecisionTreeRegressor()

In [303]:
# predict = enet.predict(test_X[column_36])
predict = model.predict(test_X[column_36])

In [304]:
test_result = pd.DataFrame()
test_result['true_score'] = test_y
test_result['true_class'] = 0
test_result['predict_score'] = predict
test_result['predict_class'] = 0

In [305]:
test_result

    true_score  true_class  predict_score  predict_class
0            3           0       3.840160              0
1            4           0       4.969231              0
2            2           0       5.909840              0
3            7           0       4.114750              0
4            5           0       4.721310              0
..         ...         ...            ...            ...
70           4           0       5.159840              0
71           3           0       6.070336              0
72           3           0       4.778690              0
73           3           0       4.446720              0
74           4           0       4.446720              0

[75 rows x 4 columns]

In [306]:
for i in range(len(test_result)):
    test_result.iloc[i, 3], test_result.iloc[i, 1] = classify(
        test_result.iloc[i, 2], test_result.iloc[i, 0])

In [307]:
test_result

    true_score  true_class  predict_score  predict_class
0            3           4       3.840160              4
1            4           4       4.969231              2
2            2           4       5.909840              1
3            7           1       4.114750              3
4            5           2       4.721310              2
..         ...         ...            ...            ...
70           4           4       5.159840              2
71           3           4       6.070336              1
72           3           4       4.778690              3
73           3           4       4.446720              3
74           4           4       4.446720              3

[75 rows x 4 columns]

In [308]:
acc = accuracy(test_result['true_class'], test_result['predict_class'])
acc

0.44