In [2]:
import numpy as np
import pandas as pd

all_predict = pd.read_csv(r'./test/all_predict.csv')
true_score_path = r'./test/杨凡1.csv'

true_score = pd.read_csv(true_score_path)

In [3]:
true_score

,index,leq_mean,leq_var,leq_std,leq_max,leq_10,leq_25,leq_median,leq_75,leq_90,...,tonality_std,tonality_max,tonality_10,tonality_25,tonality_median,tonality_75,tonality_90,tonality_10-tonality_90,name,noise_score
0,1,55.232130,28.291445,5.319207,69.071991,47.749233,50.331184,56.141373,59.358688,62.048265,...,0.062262,0.338405,0.000000,0.046919,0.084511,0.128971,0.176758,0.176758,Record85826,3
1,11,50.990445,14.365005,3.790288,58.287338,45.634531,47.271271,52.034287,54.249622,55.215694,...,0.047247,0.212326,0.000000,0.000000,0.050423,0.085405,0.118994,0.118994,Record86063,4
2,21,55.732233,6.655476,2.579936,65.177231,52.413189,53.848297,55.836800,57.593357,58.858231,...,0.041625,0.231919,0.000000,0.000000,0.039642,0.071143,0.102402,0.102402,Record86146,2
3,31,50.850839,10.522395,3.243968,68.293892,46.865599,48.294189,50.739494,52.977394,54.727055,...,0.046005,0.344498,0.000000,0.023572,0.050706,0.084524,0.119571,0.119571,Record86411,7
4,41,50.480544,21.698726,4.658396,72.954018,44.806261,47.364754,50.697357,53.007847,54.897829,...,0.053735,0.324143,0.000000,0.015611,0.052863,0.090540,0.131772,0.131772,Record86571,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,706,51.684594,8.707221,2.950931,61.099491,48.240726,49.122250,51.338657,53.338589,55.934734,...,0.061495,0.533374,0.057330,0.077229,0.106951,0.144127,0.194106,0.136776,Record108545,4
71,717,56.086409,35.776243,5.981590,73.420624,47.991043,50.723267,56.433147,59.950764,64.281902,...,0.048654,0.317854,0.000105,0.024658,0.057933,0.093155,0.128309,0.128203,Record109142,3
72,727,50.047239,5.768942,2.401969,59.508881,47.118578,48.324600,49.654362,51.642471,53.340521,...,0.040539,0.205046,0.000000,0.000000,0.036629,0.067197,0.097571,0.097571,Record109497,3
73,737,50.874526,4.364191,2.089157,61.799881,48.986235,49.593983,50.240971,51.657730,53.274920,...,0.038538,0.238971,0.000000,0.000000,0.039179,0.065948,0.091092,0.091092,Record109524,3
74,753,51.327230,3.189279,1.785935,61.432575,49.293150,49.961189,51.132454,52.213837,53.257622,...,0.050873,0.264383,0.000000,0.022004,0.057294,0.093313,0.130287,0.130287,Record109784,4

In [4]:
all_predict

             name     score
0     Record93643  3.270492
1    Record100169  3.270492
2    Record100822  3.270492
3    Record106016  3.270492
4    Record106905  3.270492
..            ...       ...
751   Record93916  7.135246
752  Record101942  7.135246
753  Record106142  7.135246
754  Record107006  7.135246
755  Record107044  7.135246

[756 rows x 2 columns]

In [7]:
result = pd.merge(true_score, all_predict, on='name')

In [8]:
result

,index,leq_mean,leq_var,leq_std,leq_max,leq_10,leq_25,leq_median,leq_75,leq_90,...,tonality_max,tonality_10,tonality_25,tonality_median,tonality_75,tonality_90,tonality_10-tonality_90,name,noise_score,score
0,1,55.232130,28.291445,5.319207,69.071991,47.749233,50.331184,56.141373,59.358688,62.048265,...,0.338405,0.000000,0.046919,0.084511,0.128971,0.176758,0.176758,Record85826,3,4.278689
1,11,50.990445,14.365005,3.790288,58.287338,45.634531,47.271271,52.034287,54.249622,55.215694,...,0.212326,0.000000,0.000000,0.050423,0.085405,0.118994,0.118994,Record86063,4,5.676230
2,21,55.732233,6.655476,2.579936,65.177231,52.413189,53.848297,55.836800,57.593357,58.858231,...,0.231919,0.000000,0.000000,0.039642,0.071143,0.102402,0.102402,Record86146,2,4.635246
3,31,50.850839,10.522395,3.243968,68.293892,46.865599,48.294189,50.739494,52.977394,54.727055,...,0.344498,0.000000,0.023572,0.050706,0.084524,0.119571,0.119571,Record86411,7,6.200820
4,41,50.480544,21.698726,4.658396,72.954018,44.806261,47.364754,50.697357,53.007847,54.897829,...,0.324143,0.000000,0.015611,0.052863,0.090540,0.131772,0.131772,Record86571,5,3.713115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
70,706,51.684594,8.707221,2.950931,61.099491,48.240726,49.122250,51.338657,53.338589,55.934734,...,0.533374,0.057330,0.077229,0.106951,0.144127,0.194106,0.136776,Record108545,4,3.598361
71,717,56.086409,35.776243,5.981590,73.420624,47.991043,50.723267,56.433147,59.950764,64.281902,...,0.317854,0.000105,0.024658,0.057933,0.093155,0.128309,0.128203,Record109142,3,5.192623
72,727,50.047239,5.768942,2.401969,59.508881,47.118578,48.324600,49.654362,51.642471,53.340521,...,0.205046,0.000000,0.000000,0.036629,0.067197,0.097571,0.097571,Record109497,3,4.200820
73,737,50.874526,4.364191,2.089157,61.799881,48.986235,49.593983,50.240971,51.657730,53.274920,...,0.238971,0.000000,0.000000,0.039179,0.065948,0.091092,0.091092,Record109524,3,4.795082
74,753,51.327230,3.189279,1.785935,61.432575,49.293150,49.961189,51.132454,52.213837,53.257622,...,0.264383,0.000000,0.022004,0.057294,0.093313,0.130287,0.130287,Record109784,4,5.049180

In [9]:
col = ['name', 'noise_score', 'score']
use_result = result[col]

In [10]:
use_result

            name  noise_score     score
0    Record85826            3  4.278689
1    Record86063            4  5.676230
2    Record86146            2  4.635246
3    Record86411            7  6.200820
4    Record86571            5  3.713115
..           ...          ...       ...
70  Record108545            4  3.598361
71  Record109142            3  5.192623
72  Record109497            3  4.200820
73  Record109524            3  4.795082
74  Record109784            4  5.049180

[75 rows x 3 columns]

In [12]:
use_result = use_result.rename(columns={'score': 'model_score'})
use_result

            name  noise_score  model_score
0    Record85826            3     4.278689
1    Record86063            4     5.676230
2    Record86146            2     4.635246
3    Record86411            7     6.200820
4    Record86571            5     3.713115
..           ...          ...          ...
70  Record108545            4     3.598361
71  Record109142            3     5.192623
72  Record109497            3     4.200820
73  Record109524            3     4.795082
74  Record109784            4     5.049180

[75 rows x 3 columns]

In [14]:
use_result.to_csv(r'./test/use_result.csv', index=False)