In [1]:
import pandas as pd
import numpy as np
from cal_accuracy import *

path = r'./validation/score.csv'

validation_data = pd.read_csv(path)
validation_data

    Unnamed: 0   predict  TRUE
0            0  4.009119  5.00
1            1  4.009119  4.90
2            2  6.040984  5.40
3            3  5.206687  6.00
4            4  5.356557  5.60
..         ...       ...   ...
75          75  5.356557  3.80
76          76  4.495902  4.75
77          77  5.340164  4.85
78          78  5.676230  5.60
79          79  6.594262  6.10

[80 rows x 3 columns]

In [2]:
predict_class_list = []
true_class_list = []
for i in range(len(validation_data)):
    predict_class, true_class = classify(validation_data.predict[i], validation_data.TRUE[i])
    predict_class_list.append(predict_class)
    true_class_list.append(true_class)

accuracy(predict_class_list, true_class_list)

0.8

In [3]:
contract = pd.DataFrame()
contract['predict_class'] = predict_class_list
contract['predict_score'] = validation_data.predict
contract['true_class'] = true_class_list
contract['true_score'] = validation_data.TRUE
contract['score_different'] = abs(validation_data.TRUE - validation_data.predict)
contract['class_different'] = [abs(predict_class_list[i] - true_class_list[i]) for i in range(len(predict_class_list))]

In [4]:
contract

,predict_class,predict_score,true_class,true_score,score_different,class_different
0,3,4.009119,3,5.00,0.990881,0
1,3,4.009119,3,4.90,0.890881,0
2,2,6.040984,2,5.40,0.640984,0
3,2,5.206687,2,6.00,0.793313,0
4,2,5.356557,2,5.60,0.243443,0
...,...,...,...,...,...,...
75,3,5.356557,3,3.80,1.556557,0
76,3,4.495902,3,4.75,0.254098,0
77,2,5.340164,2,4.85,0.490164,0
78,2,5.676230,2,5.60,0.076230,0
79,1,6.594262,1,6.10,0.494262,0